{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
		<script src="{% static "js/bootstrap.js" %}"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          	<div class="navbar-brand">Krzysztof Zięba</div>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          	<ul class="nav navbar-nav">
	          		{% if request.path == '/app/main' %}
	          			<li class="active">
	          		{% else %}
	          			<li>
	          		{% endif %}
	          		<a href="{% url 'main' %}">Home</a></li>
	          		{% if request.path == '/app/events' %}
	          			<li class="active">
	          		{% else %}
	          			<li>
	          		{% endif %}
	          		<a href="{% url 'events' %}">Events</a></li>
		        </ul>
		        <ul class="nav navbar-nav navbar-right">
		          	{% if 'username' in request.session %}
			          	<li><a href="#about">{{request.session.username}}</a></li>
			            <li><a href="{% url 'logout' %}">Log Out</a></li>
		          	{% else %}
		            	<li><a href="{% url 'signInWithTwitter' redirectTo='main' %}">Sign In With Twitter</a></li>
		            {% endif %}
	          	</ul>
	        </div>
	      </div>
	    </nav>
		<div class="jumbotron">
		    <div class="container">
				{% block main %}
		    	{% endblock %}
			</div>
		</div>
		<div class="container">
				{% block content %}
		    	{% endblock %}
      	</div>
	</body>
</html>